.LegendItem {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1vw;
    background-color: #c2dbff;
    padding-left: 1vw;
}

.Image {
    width: 20px;
    height: 20px
}